asgiref==3.9.1
baseballquery==0.2.2
certifi==2025.7.9
charset-normalizer==3.4.2
Django==5.2.4
djangorestframework==3.16.0
idna==3.10
lmdb==1.7.2
msgspec==0.19.0
numpy==2.3.1
pandas==2.3.1
pyarrow==20.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
six==1.17.0
SQLAlchemy==2.0.41
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
